<html>
<head>
	<meta charset="utf-8">
	<title>TypokeGo</title>

	<link rel="stylesheet" type="text/css" media="all" href="css/user.css" />
	<link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<!--<script type="text/javascript" src="js/test.js"></script>-->

</head>
<body>
	<section class="user-view">
		<h3 class="min-title">User profile</h3>
		<div class="info-wra">
			<div class="user-info">
				<div class="icon-box">
					<img src="img/user.jpg">
				</div>
				<div class="user-text">
					<h6 class="screen_name">wh11e7rue</h6>
					<p>High score : 114514810 </p>
					<p>Favorite : 「Hello,My Friend」</p>
					<div class="Twitter">
						<i class="ion-social-twitter"></i>
					</div>	
				</div>
			</div>
		</div>
		<div class="action-link">
			<div><i class="ion-log-in"></i></div>
			<div><i class="ion-trophy"></i></div>
			<div><i class="ion-ios-home"></i></div>
		</div>
	</section>
</body>
</html>