@import 'https://fonts.googleapis.com/css?family=Righteous';

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.padd {
	padding: 0 .08em;
}
.start-view {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.start-view .title-box {
	text-align: center;
	width: 60%;
	margin: auto;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}
.start-view .title-box h1 {
	font-family: 'Righteous', cursive;
	font-size: 6.5em;
	letter-spacing: 7px;
	text-shadow: 5px 5px 5px rgba(255,255,255,.35);
	-webkit-mask-image:-webkit-linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.7) 48%, rgba(0,0,0,0.55) 78%, rgba(0,0,0,0.4));
}
.start-view .title-box p {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	letter-spacing: 2px;
	text-shadow: 4px 4px 4px rgba(255,255,255,.35);
	-webkit-mask-image:-webkit-linear-gradient(-90deg, rgba(0,0,0,8), rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.6) 48%, rgba(0,0,0,0.5) 78%, rgba(0,0,0,0.4));
}
.start-view .title-box .input-wra {
	outline: none;
	border: 0;
	background: none;
	position: relative;
	top: 1em;
	padding: .75em .5em;
	background: rgba(0,0,0,.35);
	border-radius: 4px;
	transition: all .4s;
}

.start-view .title-box .focus-input-wra {
	box-shadow: 3px 3px 3px rgba(0,0,0,.3);
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.start-view .title-box .input-wra input {
	letter-spacing: 2px;
	color: rgba(180,180,180,0.85);
	outline: none;
	border: 0;
	background: none;
	font-size: 1.25em;
}
.start-view .title-box .focus-input-wra .candidate {
	opacity: 1!important;
}

.start-view .title-box .input-wra > i {
	cursor: pointer;
	color: #fff;
	font-size: 1.5em;
	padding: .25em;
	position: relative;
	top:.2em;
	-webkit-mask-image:-webkit-linear-gradient(-90deg, rgba(0,0,0,8), rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.6) 48%, rgba(0,0,0,0.5) 78%, rgba(0,0,0,0.4));
}
.start-view .title-box .input-wra .candidate {
	cursor: pointer;
	opacity: 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,.3);
	letter-spacing: 2px;
	font-size: 1.15em;
	text-align: left;
	width: 100%;
	background: rgba(0,0,0,.45);
	padding: .25em .25em;
	color: rgba(160,160,160,0.8);
	position: absolute;
	left: 0;
	transition: all .4s;
}
.start-view .title-box .input-wra .candidate:nth-of-type(1){
	top: 100%;
}
.start-view .title-box .input-wra .candidate:nth-of-type(2){
	top:200%;
	transition-delay: .05s;
}
.start-view .title-box .input-wra .candidate:nth-of-type(3){
	top:300%;
	transition-delay: .1s;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
