@import 'https://fonts.googleapis.com/css?family=Righteous';
@import 'https://fonts.googleapis.com/css?family=Chathura:100';



html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.user-view {
	padding: 2em 8em;
}
.info-wra {
	width: 100%;
	overflow: auto;
}
.info-wra:after{
	content: "";
	clear: both;
}
.user-view .min-title {
	font-family: 'Righteous', cursive;
	font-size: 4em;
	letter-spacing: 7px;
	text-shadow: 4px 4px 4px rgba(255,255,255,.4);
	-webkit-mask-image:-webkit-linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.7) 48%, rgba(0,0,0,0.55) 78%, rgba(0,0,0,0.4));
}
.user-view .user-info {
	padding: 3em 3em;
}
.user-view .user-info .icon-box {
	width: 8em;
}
.user-view .user-info .icon-box img {
	width: 100%;
	border-radius: 4px;
	box-shadow: 7px 7px 7px rgba(255,255,255,.15);
}
.user-view .user-info .user-text {
	position: relative;
	top: -6.5em;
	left: 1.5em;
	padding: 0 .75em;
	z-index: -1;
	min-height: 15em;
	width: 30em;
	background: rgba(0,0,0,.45);
	box-shadow: 8px 8px 8px rgba(255,255,255,.1);
}
.user-view .user-info .user-text .screen_name {
	font-family: 'Chathura', sans-serif;
	text-align: right;
	padding: .1em 0em;
	font-size: 4em;
	letter-spacing: 5px;
	color: rgba(210,210,210,1);
	text-shadow: 2px 2px 2px rgba(255,255,255,.3);
}
.user-view .user-info .user-text > p {
	letter-spacing: 2px;
	font-size: .85em;
	color: rgba(210,210,210,1);
	text-shadow: 2px 2px 2px rgba(255,255,255,.2);
	text-align: right;
	padding: .1em 0em;
}
.user-view .user-info .user-text .Twitter {
	position: absolute;
	bottom: 0;
	left:0;
	padding: .5em;
}
.user-view .user-info .user-text .Twitter i {
	padding: .5em;
	font-size: 2em;
	color: rgba(210,210,210,0.6);
}


